In [49]:
import pandas as pd
import scipy.io
import anndata as ad
from scipy.sparse import csr_matrix

Restarted homl3 (Python 3.10.13)

In [1]:
path = "/cosmos/data/downloaded-data/AD-meta/Rexach-2024/data/0-source/seurat-components"

In [2]:
genes = pd.read_csv(path, header=None)
cells = pd.read_csv(path, header=None)
obs = pd.read_csv(path, index_col=0)

NameError: name 'pd' is not defined

In [3]:
import pandas as pd
import scipy.io
import anndata as ad
from scipy.sparse import csr_matrix

In [4]:
genes = pd.read_csv(path, header=None)

IsADirectoryError: [Errno 21] Is a directory: '/cosmos/data/downloaded-data/AD-meta/Rexach-2024/data/0-source/seurat-components'

In [5]:
import pandas as pd
import scipy.io
import anndata as ad
import os
from scipy.sparse import csr_matrix

In [6]:
path = "/cosmos/data/downloaded-data/AD-meta/Rexach-2024/data/0-source/seurat-components"

In [7]:
genes = pd.read_csv(os.path.join(path, "genes.csv"), header=None)

In [8]:
genes

                 0
0                x
1      MIR1302-2HG
2            OR4F5
3       AL627309.1
4       AL627309.2
...            ...
30305   AL354822.1
30306   AC023491.2
30307   AC004556.1
30308   AC240274.1
30309      FAM231C

[30310 rows x 1 columns]

In [9]:
genes = pd.read_csv(os.path.join(path, "genes.csv"), header=True)

TypeError: Passing a bool to header is invalid. Use header=None for no header or header=int or list-like of ints to specify the row(s) making up the column names

In [10]:
genes = pd.read_csv(os.path.join(path, "genes.csv"))

In [11]:
genes.shape

(30309, 1)

In [12]:
cells = pd.read_csv(os.path.join(path, "cell_ids.csv"), header=None)

In [13]:
cells.shape

(590542, 1)

In [14]:
cells

                           0
0                          x
1         AAACCTGAGAATGTGT-1
2         AAACCTGAGATGTCGG-1
3         AAACCTGCAATCGAAA-1
4         AAACCTGCACCTGGTG-1
...                      ...
590537  TTTGTCAAGTGGGATC-119
590538  TTTGTCAGTAGGAGTC-119
590539  TTTGTCAGTCCGAACC-119
590540  TTTGTCAGTTGACGTT-119
590541  TTTGTCATCCTCGCAT-119

[590542 rows x 1 columns]

In [15]:
cells = pd.read_csv(os.path.join(path, "cell_ids.csv"))

In [16]:
cells

                           x
0         AAACCTGAGAATGTGT-1
1         AAACCTGAGATGTCGG-1
2         AAACCTGCAATCGAAA-1
3         AAACCTGCACCTGGTG-1
4         AAACCTGGTAAATGAC-1
...                      ...
590536  TTTGTCAAGTGGGATC-119
590537  TTTGTCAGTAGGAGTC-119
590538  TTTGTCAGTCCGAACC-119
590539  TTTGTCAGTTGACGTT-119
590540  TTTGTCATCCTCGCAT-119

[590541 rows x 1 columns]

In [17]:
cells.shape

(590541, 1)

In [18]:
obs = pd.read_csv(os.path.join(path, "meta_data.csv"), index_col=0)

In [19]:
obs

,library_id,autopsy_id,finalsite,clinical_dx,npdx1,sex,region,library_batch,seq_batch,sample,age,pmi
1,C1_2,P2593,UCSF,AD,AD,F,calcarine,C1,NaN,18.0,64,7.3
2,C1_4,P2734,PENN,Control,Normal,M,calcarine,C1,NaN,28.0,61,6.0
3,C1_6,P2726,PENN,AD,AD,M,calcarine,C1,NaN,22.0,58,3.0
4,C1_8,P2733,PENN,Control,Normal,M,calcarine,C1,NaN,27.0,67,15.0
5,C2_2,P2738,PENN,Control,Normal,F,calcarine,C2,NaN,16.0,60,9.0
6,C2_4,P2350,UCSF,AD,AD,F,calcarine,C2,NaN,18.0,65,10.9
7,C2_6,P2735,PENN,Control,Normal,M,calcarine,C2,NaN,12.0,74,6.0
8,C2_8,P2727,PENN,AD,AD,M,calcarine,C2,NaN,14.0,74,7.5
9,C3_3,P2394,UCSF,Control,Control,M,calcarine,C3,NaN,28.0,76,8.2
10,C3_5,P2508,UCSF,AD,AD,M,calcarine,C3,NaN,39.0,82,6.7
11,C3_6,P2736,PENN,Control,Normal,F,calcarine,C3,NaN,40.0,67,24.0
12,C4_1,P2330,UCSF,AD,AD,M,calcarine,C4,NaN,10.0,70,9.0
13,C4_2,P2576,UCSF,AD,AD,F,calcarine,C4,NaN,31.0,58,13.2
14,C4_3,P2737,PENN,Control,Normal,F,calcarine,C4,NaN,33.0,65,22.0
15,I1_2,P2593,UCSF,AD,AD,F,insula,I1,NaN,NaN,64,7.3
16,I1_4,P2734,PENN,Control,Normal,M,insula,I1,NaN,NaN,61,6.0
17,I1_6,P2726,PENN,AD,AD,M,insula,I1,NaN,NaN,58,3.0
18,I1_8,P2733,PENN,Control,Normal,M,insula,I1,NaN,NaN,67,15.0
19,I2_2,P2738,PENN,Control,Normal,F,insula,I2,NaN,NaN,60,9.0
20,I2_4,P2350,UCSF,AD,AD,F,insula,I2,NaN,NaN,65,10.9
21,I2_6,P2735,PENN,Control,Normal,M,insula,I2,NaN,NaN,74,6.0
22,I2_8,P2727,PENN,AD,AD,M,insula,I2,NaN,NaN,74,7.5
23,I3_1,P2740,PENN,Control,Normal,F,insula,I3,NaN,NaN,68,15.0
24,I3_3,P2728,PENN,AD,AD,M,insula,I3,NaN,NaN,68,3.0
25,I3_5,P2394,UCSF,Control,Control,M,insula,I3,NaN,NaN,76,8.2
26,I3_7,P2287,UCSF,AD,AD,F,insula,I3,NaN,NaN,69,12.9
27,I4_6,P2737,PENN,Control,Normal,F,insula,I4,NaN,NaN,65,22.0
28,I4_7,P2576,UCSF,AD,AD,F,insula,I4,NaN,NaN,58,13.2
29,I4_8,P2330,UCSF,AD,AD,M,insula,I4,NaN,NaN,70,9.0
30,I5_4,P2508,UCSF,AD,AD,M,insula,I5,NaN,39.0,82,6.7
31,I5_5,P2736,PENN,Control,Normal,F,insula,I5,NaN,40.0,67,24.0
32,I5_7,P2538,UCSF,AD,AD,M,insula,I5,NaN,35.0,68,9.3
33,P1_2,P2593,UCSF,AD,AD,F,preCG,P1,seq_P1,2.0,64,7.3
34,P1_4,P2734,PENN,Control,Normal,M,preCG,P1,seq_P1,4.0,61,6.0
35,P1_6,P2726,PENN,AD,AD,M,preCG,P1,seq_P1,6.0,58,3.0
36,P1_8,P2733,PENN,Control,Normal,M,preCG,P1,seq_P1,8.0,67,15.0
37,P2_2,P2738,PENN,Control,Normal,F,preCG,P2,seq_P1,16.0,60,9.0
38,P2_4,P2350,UCSF,AD,AD,F,preCG,P2,seq_P1,18.0,65,10.9
39,P2_6,P2735,PENN,Control,Normal,M,preCG,P2,seq_P1,12.0,74,6.0
40,P2_8,P2727,PENN,AD,AD,M,preCG,P2,seq_P1,14.0,74,7.5
41,P3_2,P2394,UCSF,Control,Control,M,preCG,P3,seq_P2,28.0,76,8.2
42,P3_4,P2508,UCSF,AD,AD,M,preCG,P3,seq_P2,39.0,82,6.7
43,P3_5,P2736,PENN,Control,Normal,F,preCG,P3,seq_P2,40.0,67,24.0
44,P3_7,P2538,UCSF,AD,AD,M,preCG,P3,seq_P2,35.0,68,9.3
45,P4_1,P2330,UCSF,AD,AD,M,preCG,P4,seq_P2,10.0,70,9.0
46,P4_2,P2576,UCSF,AD,AD,F,preCG,P4,seq_P2,31.0,58,13.2
47,P4_3,P2737,PENN,Control,Normal,F,preCG,P4,seq_P2,33.0,65,22.0
48,P4_7,P2739,PENN,Control,Normal,F,preCG,P4,seq_P2,37.0,56,12.0
49,P5_1,P2740,PENN,Control,Normal,F,preCG,P5,seq_P3,24.0,68,15.0
50,P5_3,P2728,PENN,AD,AD,M,preCG,P5,seq_P3,26.0,68,3.0
51,P5_5,P2321,UCSF,Control,Control,M,preCG,P5,seq_P3,20.0,77,4.9
52,P5_7,P2287,UCSF,AD,AD,F,preCG,P5,seq_P3,22.0,69,12.9

In [20]:
obs.head(10)

,library_id,autopsy_id,finalsite,clinical_dx,npdx1,sex,region,library_batch,seq_batch,sample,age,pmi
1,C1_2,P2593,UCSF,AD,AD,F,calcarine,C1,NaN,18.0,64,7.3
2,C1_4,P2734,PENN,Control,Normal,M,calcarine,C1,NaN,28.0,61,6.0
3,C1_6,P2726,PENN,AD,AD,M,calcarine,C1,NaN,22.0,58,3.0
4,C1_8,P2733,PENN,Control,Normal,M,calcarine,C1,NaN,27.0,67,15.0
5,C2_2,P2738,PENN,Control,Normal,F,calcarine,C2,NaN,16.0,60,9.0
6,C2_4,P2350,UCSF,AD,AD,F,calcarine,C2,NaN,18.0,65,10.9
7,C2_6,P2735,PENN,Control,Normal,M,calcarine,C2,NaN,12.0,74,6.0
8,C2_8,P2727,PENN,AD,AD,M,calcarine,C2,NaN,14.0,74,7.5
9,C3_3,P2394,UCSF,Control,Control,M,calcarine,C3,NaN,28.0,76,8.2
10,C3_5,P2508,UCSF,AD,AD,M,calcarine,C3,NaN,39.0,82,6.7

In [21]:
obs["autopsy_id"].unique

<bound method Series.unique of 1     P2593
2     P2734
3     P2726
4     P2733
5     P2738
6     P2350
7     P2735
8     P2727
9     P2394
10    P2508
11    P2736
12    P2330
13    P2576
14    P2737
15    P2593
16    P2734
17    P2726
18    P2733
19    P2738
20    P2350
21    P2735
22    P2727
23    P2740
24    P2728
25    P2394
26    P2287
27    P2737
28    P2576
29    P2330
30    P2508
31    P2736
32    P2538
33    P2593
34    P2734
35    P2726
36    P2733
37    P2738
38    P2350
39    P2735
40    P2727
41    P2394
42    P2508
43    P2736
44    P2538
45    P2330
46    P2576
47    P2737
48    P2739
49    P2740
50    P2728
51    P2321
52    P2287
Name: autopsy_id, dtype: object>

In [22]:
len(obs["autopsy_id"].unique)

TypeError: object of type 'method' has no len()

In [23]:
length(obs["autopsy_id"].unique)

NameError: name 'length' is not defined

In [24]:
obs["autopsy_id"].unique

<bound method Series.unique of 1     P2593
2     P2734
3     P2726
4     P2733
5     P2738
6     P2350
7     P2735
8     P2727
9     P2394
10    P2508
11    P2736
12    P2330
13    P2576
14    P2737
15    P2593
16    P2734
17    P2726
18    P2733
19    P2738
20    P2350
21    P2735
22    P2727
23    P2740
24    P2728
25    P2394
26    P2287
27    P2737
28    P2576
29    P2330
30    P2508
31    P2736
32    P2538
33    P2593
34    P2734
35    P2726
36    P2733
37    P2738
38    P2350
39    P2735
40    P2727
41    P2394
42    P2508
43    P2736
44    P2538
45    P2330
46    P2576
47    P2737
48    P2739
49    P2740
50    P2728
51    P2321
52    P2287
Name: autopsy_id, dtype: object>

In [25]:
obs.head(10)

,library_id,autopsy_id,finalsite,clinical_dx,npdx1,sex,region,library_batch,seq_batch,sample,age,pmi
1,C1_2,P2593,UCSF,AD,AD,F,calcarine,C1,NaN,18.0,64,7.3
2,C1_4,P2734,PENN,Control,Normal,M,calcarine,C1,NaN,28.0,61,6.0
3,C1_6,P2726,PENN,AD,AD,M,calcarine,C1,NaN,22.0,58,3.0
4,C1_8,P2733,PENN,Control,Normal,M,calcarine,C1,NaN,27.0,67,15.0
5,C2_2,P2738,PENN,Control,Normal,F,calcarine,C2,NaN,16.0,60,9.0
6,C2_4,P2350,UCSF,AD,AD,F,calcarine,C2,NaN,18.0,65,10.9
7,C2_6,P2735,PENN,Control,Normal,M,calcarine,C2,NaN,12.0,74,6.0
8,C2_8,P2727,PENN,AD,AD,M,calcarine,C2,NaN,14.0,74,7.5
9,C3_3,P2394,UCSF,Control,Control,M,calcarine,C3,NaN,28.0,76,8.2
10,C3_5,P2508,UCSF,AD,AD,M,calcarine,C3,NaN,39.0,82,6.7

In [26]:
obs.shape

(52, 12)

In [27]:
counts = scipy.io.mmread(os.path.join(path, "counts.mtx")).tocsc()

In [28]:
path = "/cosmos/data/downloaded-data/AD-meta/Rexach-2024/data/0-source/seurat-components"

In [29]:
genes = pd.read_csv(os.path.join(path, "genes.csv"))
cells = pd.read_csv(os.path.join(path, "cell_ids.csv"))
obs = pd.read_csv(os.path.join(path, "meta_data.csv"), index_col=0)

<ipython-input-29-7ea8944cc8e3>:3: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  obs = pd.read_csv(os.path.join(path, "meta_data.csv"), index_col=0)

In [30]:
genes

                 x
0      MIR1302-2HG
1            OR4F5
2       AL627309.1
3       AL627309.2
4       AL732372.1
...            ...
30304   AL354822.1
30305   AC023491.2
30306   AC004556.1
30307   AC240274.1
30308      FAM231C

[30309 rows x 1 columns]

In [31]:
genes.shape

(30309, 1)

In [32]:
cells.shape

(298441, 1)

In [33]:
obs.shape

(298441, 69)

In [34]:
obs.shape[1]

69

In [35]:
obs.shape[0]

298441

In [36]:
counts = scipy.io.mmread(os.path.join(path, "countsV2.mtx")).tocsc()

In [37]:
type(counts)

scipy.sparse._csc.csc_matrix

In [38]:
testTest = ad.read_h5ad("/cosmos/data/downloaded-data/AD-meta/SEA-AD-MTG/0-source/expr/annData-cellTpe/Mic_SEA-AD-MTG-2024.h5ad")

In [39]:
type(testTest.X)

scipy.sparse._csr.csr_matrix

In [40]:
counts.shape

(30309, 298441)

In [41]:
counts = counts.transpose()

In [42]:
counts.shape

(298441, 30309)

In [43]:
genes.columns

Index(['x'], dtype='object')

In [44]:
genes.head

<bound method NDFrame.head of                  x
0      MIR1302-2HG
1            OR4F5
2       AL627309.1
3       AL627309.2
4       AL732372.1
...            ...
30304   AL354822.1
30305   AC023491.2
30306   AC004556.1
30307   AC240274.1
30308      FAM231C

[30309 rows x 1 columns]>

In [45]:
genes.columns = ["gene_names"]
cells.columns = ["cell_ids"]

In [46]:
genes.head

<bound method NDFrame.head of         gene_names
0      MIR1302-2HG
1            OR4F5
2       AL627309.1
3       AL627309.2
4       AL732372.1
...            ...
30304   AL354822.1
30305   AC023491.2
30306   AC004556.1
30307   AC240274.1
30308      FAM231C

[30309 rows x 1 columns]>

In [47]:
genes.head(10)

    gene_names
0  MIR1302-2HG
1        OR4F5
2   AL627309.1
3   AL627309.2
4   AL732372.1
5   AC114498.1
6   AL669831.2
7   AL669831.5
8       FAM87B
9    LINC00115

In [48]:
cells.head(10)

             cell_ids
0  AAACCTGCAAGCCCAC-2
1  AAACCTGCACCGAAAG-2
2  AAACCTGCAGTTCATG-2
3  AAACCTGCATGCTAGT-2
4  AAACCTGCATGGTAGG-2
5  AAACCTGGTAGCGATG-2
6  AAACCTGGTCGACTGC-2
7  AAACCTGGTCGCATAT-2
8  AAACCTGGTGCTGTAT-2
9  AAACCTGGTTCGGCAC-2

In [49]:
genes.shape

(30309, 1)

In [50]:
cells.shape

(298441, 1)

In [51]:
counts.shape

(298441, 30309)

In [52]:
adata = ad.AnnData(X=counts, obs=obs, var=genes)

/home/nelazzabi/anaconda3/envs/homl3/lib/python3.10/site-packages/anndata/_core/aligned_df.py:68: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [53]:
adata.obs_names = cells["cell_ids"]
adata.var_names = genes["gene_names"]